# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
gen

/AWD_Zanasi/media/matlab_projects
/AWD_Zanasi/media/*
db.sqlite3
/AWD_Zanasi/migrations/
/AWD_Zanasi/pog_models/
/logs/
/AWD_Zanasi/Analizza_il_Sistema.m
*.m
/AWD_Zanasi/Alternanza_R_C_MDL.txt
/AWD_Zanasi/diary
/AWD_Zanasi/Alternanza_R_C.txt
/AWD_Zanasi/diary.txt
/AWD_Zanasi/Schema_Vuoto.txt
