# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
gen

/AWD_Zanasi/media/matlab_projects
/media/
/db.sqlite3
/AWD_Zanasi/migrations/
/AWD_Zanasi/pog_models/
