{% extends "AWD_Zanasi/base.html" %}
{% block container %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Examples:
                </h3>
            </div>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div
                            {% if message.tags == 'success' %}
                                class="alert alert-success"
                            {% else %}
                                class="alert alert-danger"
                            {% endif %}
                                role="alert">{% if message.tags %}
                        <strong>{{ message.tags|capfirst }}:</strong> {% endif %} {{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="list-group">
            {% for project in projects %}
                <a class="list-group-item"
                   href="{% url 'project_results' project.id %}">
                  <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-1">{{ project.name }}
                      </h4>
                    <p class="mb-1">{{ project.proj_desc }}</p>
                  </div>
                  <div class="col-sm-3">
                     <img src="three_phase_rectifier.jpg" class="img-thumbnail" alt="Scheme" width="304" height="236"> 
                  </div>
                  <div class="col-sm-3">
                     <img src="three_phase_rectifier.jpg" class="img-thumbnail" alt="POG Scheme" width="304" height="236"> 
                  </div>
                  </div>
                </a>                 
                <!-- 
                %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Modified version
                <a class="list-group-item"
                   href="{% url 'project_results' project.id %}">
                  <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-1">{{ project.name }}
                      </h4>
                    <p class="mb-1">{{ project.proj_desc }}</p>
                  </div>
                  <div class="col-sm-3">
                     <img src="three_phase_rectifier.jpg" class="img-thumbnail" alt="Scheme" width="304" height="236"> 
                  </div>
                  <div class="col-sm-3">
                     <img src="three_phase_rectifier.jpg" class="img-thumbnail" alt="POG Scheme" width="304" height="236"> 
                  </div>
                  </div>
                </a>               
                %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Original version
                <a class="list-group-item list-group-item-action flex-column align-items-start" 
                   href="{% url 'project_results' project.id %}">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">{{ project.name }}
                        </h4>
                    </div>
                    <p class="mb-1">{{ project.proj_desc }}</p>
                    <small class="text-muted">added: {{ project.launch_date|date:"SHORT_DATE_FORMAT" }}</small> 
                </a>
                %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                -->
            {% endfor %}
        </div>
    </div>

{% endblock %}