{% extends "AWD_Zanasi/base.html" %}
{% block container %}
    {% load crispy_forms_tags %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="container-fluid">
        <div class="row">
            <!-- Page Heading -->
            <div class="col-lg-12">
                <h3 class="page-header">
                    Commands List
                </h3>
            </div>
        </div>
        <div class="row">
            <!-- Blocks panel -->
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div id="blocks" class="panel-heading">
                        <h2 class="panel-title">Blocks</h2>
                    </div>
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            {% if LANGUAGE_CODE == 'it-it' %}
                                <th>Codice</th>
                                <th>Effort</th>
                                <th>Parameter</th>
                                <th>Internal</th>
                                <th>Flow</th>
                                <th>Descrizione</th>
                            {% else %}
                                <th>Code</th>
                                <th>Effort</th>
                                <th>Parameter</th>
                                <th>Internal</th>
                                <th>Flow</th>
                                <th>Description</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for cmd in blocks %}
                            <tr>
                                <td> {{ cmd.Sigla }}</td>

                                <td>{{ cmd.E_name }}</td>
                                <td>{{ cmd.K_name }}</td>
                                <td>{{ cmd.Q_name }}</td>
                                <td>{{ cmd.F_name }}</td>
                                {% if LANGUAGE_CODE == 'it-it' %}
                                    <td>{{ cmd.Help }}</td>
                                {% else %}
                                    <td>{{ cmd.Help_ENG }}</td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Navigator -->
            <div class="col-lg-4">

                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#blocks">Blocks</a></li>
                        <li class="list-group-item"><a href="#branches">Branches</a></li>
                        <li class="list-group-item"><a href="#system">System</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Branches panel -->
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div id="branches" class="panel-heading">
                        <h2 class="panel-title">Branches</h2>
                    </div>
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            {% if LANGUAGE_CODE == 'it-it' %}
                                <th>Nome</th>
                                <th>Tipo</th>
                                <th>Intervallo dei Valori</th>
                                <th>Descrizione</th>
                            {% else %}
                                <th>Name</th>
                                <th>Type</th>
                                <th>Range</th>
                                <th>Description</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for cmd in branches %}
                            <tr>
                                <td> {{ cmd.Nome }}</td>
                                <td>{{ cmd.Type }}</td>
                                <td>{{ cmd.Range }}</td>
                                {% if LANGUAGE_CODE == 'it-it' %}
                                    <td>{{ cmd.Help }}</td>
                                {% else %}
                                    <td>{{ cmd.Help_ENG }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Navigator -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#blocks">Blocks</a></li>
                        <li class="list-group-item"><a href="#branches">Branches</a></li>
                        <li class="list-group-item"><a href="#system">System</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- System panel -->
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div id="system" class="panel-heading">
                        <h2 class="panel-title">System</h2>
                    </div>
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            {% if LANGUAGE_CODE == 'it-it' %}
                                <th>Nome</th>
                                <th>Tipo</th>
                                <th>Intervallo dei Valori</th>
                                <th>Descrizione</th>
                            {% else %}
                                <th>Name</th>
                                <th>Type</th>
                                <th>Range</th>
                                <th>Description</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for cmd in system %}
                            <tr>
                                <td> {{ cmd.Nome }}</td>
                                <td>{{ cmd.Type }}</td>
                                <td>{{ cmd.Range }}</td>
                                {% if LANGUAGE_CODE == 'it-it' %}
                                    <td>{{ cmd.Help }}</td>
                                {% else %}
                                    <td>{{ cmd.Help_ENG }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Navigator -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#blocks">Blocks</a></li>
                        <li class="list-group-item"><a href="#branches">Branches</a></li>
                        <li class="list-group-item"><a href="#system">System</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}