{% extends "AWD_Zanasi/base.html" %}

{% block container %}
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Projects
                        <small>Home</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div
                                {% if message.tags == 'success' %}
                                    class="alert alert-success"
                                {% else %}
                                    class="alert alert-danger"
                                {% endif %}
                                    role="alert">{% if message.tags %}
                            <strong>{{ message.tags|capfirst }}:</strong> {% endif %} {{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Content -->
            <div class="table-responsive">
                <table class="table table-hover table-striped sortable">
                    <thead>
                    <tr>
                        <th>N</th>
                        <th>Name</th>
                        {% if user.is_superuser %}
                            <th>Is Example</th>
                            <th>Owner</th>
                            <th>Email</th>
                        {% endif %}
                        <!--<th>Description</th>-->
                        <th>Launch Date</th>
                        <th>Results</th>
                        <th>Launch</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ project.name }}<br><p style="white-space: nowrap; overflow: hidden;  text-overflow: ellipsis; max-width: 300px; font-size:80%">{{ project.proj_desc}}</p></td>
                            {% if user.is_superuser %}
                                <td>{% if project.is_example == 1 %} <i class="fa fa-check" aria-hidden="true"></i> {% endif %} </td>
                                <td>{{ project.user.username }}</td>
                                <td>{{ project.user.email }}</td>
                            {% endif %}
                            <!--<td>-->
                                <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
                                <!--<button type="button" class="btn btn-default btn-sm" data-toggle="modal"-->
                                        <!--data-target="#modal-{{ forloop.counter }}">-->
                                    <!--Description-->
                                <!--</button>-->

                                <!--&lt;!&ndash; Modal &ndash;&gt;-->
                                <!--<div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1"-->
                                     <!--role="dialog"-->
                                     <!--aria-labelledby="myModalLabel">-->
                                    <!--<div class="modal-dialog" role="document">-->
                                        <!--<div class="modal-content">-->
                                            <!--<div class="modal-header">-->
                                                <!--<button type="button" class="close" data-dismiss="modal"-->
                                                        <!--aria-label="Close"><span aria-hidden="true">&times;</span>-->
                                                <!--</button>-->
                                                <!--<h4 class="modal-title" id="modalLabel-{{ forloop.counter }}">-->
                                                    <!--Description</h4>-->
                                            <!--</div>-->
                                            <!--<div class="modal-body">-->
                                                <!--{{ project.proj_desc }}-->
                                            <!--</div>-->

                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->


                            <!--</td>-->
                            <td>{{ project.launch_date|date:"d M Y - H:i" }}</td>

                            {% if project.launch_date %}
                                <td><a class="btn btn-default btn-sm" role="button"
                                       href="{% url 'project_results' project.id %}"><i class="fa fa-files-o"></i>
                                    Results</a></td>
                            {% else %}
                                <td>No Results</td>
                            {% endif %}

                            {% if user.username == project.user.username  %}
                            <td><a id="launchproj" class="btn btn-default btn-sm" role="button"
                                   href="{% url 'launch_project' project.id %}"><i class="fa fa-play"></i>
                                Launch</a></td>
                            <td><a class="btn btn-default btn-sm" role="button"
                                   href="{% url 'edit_project' project.id %}"><i class="fa fa-edit"></i> Edit</a></td>
                            <th>
                                <form id="deleteForm"
                                      class="form-horizontal"
                                      action="{% url 'delete_project' project.id %}"
                                      method="POST"
                                      onsubmit="return confirm('Are you sure you want to delete Project {{ project.name }}?' );">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" value="Submit Button">
                                        <i class=" fa fa-trash-o"></i> Delete
                                    </button>
                                </form>
                            </th>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="jumbotron">
                        <h1>Welcome</h1>
                        <!--  <p>(DO NOT USE NOW)</p>  -->
                        <p>Login here to start working</p>
                        <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#launchproj", function () {
                <!-- alert("Project Launched") -->
                $(this).addClass( "disabled" );

                });

        });
    </script>
{% endblock %}