{% extends "AWD_Zanasi/base.html" %}
{% block container %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="container-fluid">
        <div class="row">
            <!-- Page Heading -->
            <div class="col-lg-12">
                <h3 class="page-header">
                    Manual
                </h3>
            </div>
        </div>
                <!-- MENU HELP =============================================================== -->
<!-- 
                <a href="MCSEM_Luc_2017_POG_Modeler_Manual.pdf" target="new">What you have to know</a>  
-->
                <!-- Manual  -->
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Help: Manual
                </h4>
                <p> Displays this manual.</p>
            </div>
        </div>
                <!-- Examples  -->
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Help: Examples
                </h4>
                <p> Displays the Sample Projects List. For each project, the source code and the results processed by Matlab are shown.</p>
                {% if request.user.is_superuser %}
                    <pre style="color:red">
                        ADMIN: Per inserire un esempio, inserire un nuovo progetto, successivamente dalla pagina admin, aprire
                        la pagina di modifica del progetto, aggiungere la spunta alla voce "is_example" e salvare.
                    </pre>
                {% endif %}
            </div>
        </div>
                <!-- Commands List  -->
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Help: Commands List
                </h4>
                <p> Displays the list of possible commands to include in the source code and their description.</p>
            </div>
        </div>
                <!-- MENU PROJECTS ============================================================== -->
                    <hr>
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Projects: Home
                </h4>
                <p>
                    Main page of the web site. Shows the list of user projects. There are 5 function buttons for each project: </p>
                <ul>
                    <li><i>Description</i>: shows the description of the project entered by the user.</li>
                    <li><i>Results</i>: shows a page with the source code of the project and the results processed by Matlab.</li>
                    <li><i>Launch</i>: launches the project and leaves the user waiting until processing is completed (or for a maximum of {{ WATCHDOG_TIMEOUT }} seconds).</li>
                    <li><i>Edit</i>: allows you to change the name, description, and source code of the project.</li>
                    <li><i>Delete</i>: allows you to completely delete a project.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Projects: Create
                </h4>
                <p>
                    Page that allows you to create a new project. The user is asked to enter the name and description of the new 
                    project. Eventually, the user can upload a "txt" file containing the source code of the new project. 
                </p>
                <!-- EDITOR PROGETTI: TEMPORANEAMENTE SOSPESO
                <h4>
                    Editor progetti
                </h4>
                <p>Permette di creare in maniera user-friendly un progetto. è possibile definire</p>
                <ul>
                    <li>Nodi tra cui ogni blocco viene definito indicando nome e coordinate cartesiane del nodo.
                    </li>
                    <li>Blocchi del modello, ciascuno deve essere definito tra due nodi indicati precedentemente.
                        Inoltre è possibile dare un nome personalizzato ad ognuna delle 4 variabili interne e indicare
                        delle opzioni personali per ogni blocco premendo il tasto + a fianco di ogni riga di blocco.
                    </li>
                    <li>Variabil di Sistema che infuluenzeranno l'intero progetto. nel testo placeholder è indicato il
                        range in cui le variabili possono essere definite. uscire dal range causerà errore nei risultati
                    </li>
                </ul>
                           -->
            </div>
        </div>
                <!-- ============================================================== -->
                    <hr>
                <!-- MENU UTENTE -->
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    User: Profile
                </h4>
                <p> A web page that allows you to change the password.</p>
            </div>
        </div>
                <!-- MENU UTENTE -->
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    User: Log Out
                </h4>
                <p> Log Out button from the POG Modeler program.</p>
            </div>
        </div>
                <!-- ============================================================== -->
                <!-- SUPERUSER SUPERUSER SUPERUSER SUPERUSER SUPERUSER -->
        {% if request.user.is_superuser %}
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4 style="color:red">
                        Manuale Admin
                    </h4>

                </div>
            </div>
                        <!-- Admin -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>
                        User: Admin
                    </h4>
                    <p> Pagia di amministrazione del database. Da qui è possibile fare tutte le modifiche manuali alle
                        voci presenti nel database:</p>
                    <ul>
                        <li>Gruppi: ignorare, non utilizzato dal sito</li>
                        <li>Utenti: Modifiche agli utenti.</li>
                        <li>Project Outputs: Pagina di modifica degli output progetto. ogni voce corrisponde ad un file
                            di output i quasi sono assegnati ad un solo progetto.
                            All'interno è possibile modificare i file di output presenti ed il progetto assegnato
                            <b>si raccomanda attenzione nell'inserimento di immagini e testo nei campi corretti o si
                                renderà impossibile la visualizzazione dei risultati</b></li>

                        <li>Projects: Pagina di modifica progetti, da qui è possibile modificare nome, descrizione ed
                            assegnare un differente file di codice. è possibile inoltre assegnare un progetto come
                            "esempio" per gli utenti, aggiungendo la spunta ad "is_example"
                        </li>
                    </ul>
                </div>
            </div>
                        <!-- Update Commands -->
            <div class="row">
                <div class="col-lg-12">
                    <h4>
                        User: Update Commands
                    </h4>
                    <p> Pagina per l'aggiornamento dei comandi. I file vanno caricati nelle corrette voci di input. i
                        file devono contere obbligatoriamente i seguenti campi, anche vuoti:</p>
                    <ul>
                        <li>Branch - Rami: Nome, Value, Sigla, StrNum, Vincoli, Range, Type, Help, Help_ENG</li>
                        <li>Block - Blocchi: Sigla, Tipo_di_Ramo, Diretto, Out, E_name, K_name, Q_name, F_name, Help,
                            Comandi, Help_ENG
                        </li>
                        <li>System - Sistema: Nome, Value, Sigla, StrNum, Vincoli, Range, Type, Help, Help_ENG</li>
                    </ul>
                    <p>Una volta caricati saranno disponibili nell'Editor progetti e nella Command List dal menu
                        Projects</p>
                </div>
            </div>
                        <!-- ========================= -->
        {% endif %}
    </div>


{% endblock %}