{% extends "AWD_Zanasi/base.html" %}

{% block container %}
    {% load crispy_forms_tags %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Projects
                    <small>New Project</small>
                </h1>
            </div>
        </div>
 <!--   <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="btn-generator" class="control-label col-lg-2">Use the Internal Editor
                    </label>
                    <div class="controls col-lg-8">
                        <a href="{% url 'generator' %}"
                           id="btn-generator"
                           class="btn btn-success"> &nbsp; &nbsp; Editor &nbsp; &nbsp; </a>

                    </div>
                </div>
            </form>
        </div>
        <br>
        <label>Or directly upload a file</label>
  -->
        {{ form.non_field_errors }}

        {% crispy form %}
    </div>

{% endblock %}
