{% extends "AWD_Zanasi/base.html" %}

{% block container %}
    {% load crispy_forms_tags %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Projects
                    <small>Generator</small>
                </h1>
            </div>
        </div>
        <!--messages -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div
                            {% if message.tags == 'success' %}
                                class="alert alert-success"
                            {% else %}
                                class="alert alert-danger"
                            {% endif %}
                                role="alert">{% if message.tags %}
                        <strong>{{ message.tags|capfirst }}:</strong> {% endif %} {{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- coordinates -->
        <form id="allforms" action="{% url 'editor_response' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-1">
                    <button id="add_coord_btn" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp;Add Node
                    </button>
                </div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-md-1"><h5>Name</h5></div>
                        <div class="col-md-2"><h5>Coordinates</h5></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div id="coord-form">
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <p></p>
            <hr>
            <!-- blocks -->
            <div class="row">
                <div class="col-lg-1">
                    <button class="add_block_btn btn btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp;Add Block
                    </button>
                </div>

                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-md-1"><h5>Command</h5></div>
                        <div class="col-md-2"><h5>Nodes</h5></div>
                        <div class="col-md-1"><h5>Effort</h5></div>
                        <div class="col-md-1"><h5>Flow</h5></div>
                        <div class="col-md-1"><h5>Internal</h5></div>
                        <div class="col-md-1"><h5>K</h5></div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div id="blocks-form">
                    </div>
                </div>
            </div>
            <p></p>
            <hr>
            <!-- system variables -->
            <div class="row">
                <div class="col-lg-1">
                    <button class="add_sysvar_btn btn btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp;Sysvar
                    </button>
                </div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-3">Name</div>
                        <div class="col-lg-3">Value</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-11">
                    <div id="sysvar-form" class="form-horizontal">

                    </div>
                </div>
            </div>
            <p></p>
            <hr>
            <!-- submit button -->
            <div class="row">
                <div class="col-lg-1">
                    <button id="submitall" class=" btn btn-primary btn-sm" onclick="submitall()">
                        &nbsp; Submit &nbsp;
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}

{% block javascript %}
    {% load static %}
    {% csrf_token %}
    <script type="text/x-handlebars-template" id="coord-template">
        {% verbatim %}
            <p></p>

            <div class="row">
                <div class="col-md-1"><input name="coord-name-{{ idx }}" class="form-control" placeholder="Name" title="">
                </div>
                <div class="col-md-1"><input name="coord_X-{{ idx }}" class="form-control" placeholder="X" title=""></div>
                <div class="col-md-1"><input name="coord_Y-{{ idx }}" class="form-control" placeholder="Y" title=""></div>
                <div class="col-md-1">
                    <a id="delete-coord" href="#" class="btn btn-danger"><i class="fa fa-minus"></i></a>
                </div>
            </div>
        {% endverbatim %}
    </script>
    <script type="text/x-handlebars-template" id="sysvar-template">
        {% verbatim %}
            <p></p>
            <div class="row">
                <div class="col-lg-3">
                    <select id="sysvar-select" class="form-control" name="sysvar-select-{{ idx }}" title="">
                        <option disabled selected value> -- select an option --</option>
                        {{#each sysvar }}
                        <option value="{{@index}}">{{ this.Nome }}</option>
                        {{/each }}
                    </select>
                </div>
                <div class="col-lg-3"><input id="sysvar-range" name="sysvar-range-{{ idx }}" title="" class="form-control"
                                             placeholder="Range"/></div>
                <div class="col-lg-1"><a id="delete-sysvar" href="#" class="btn btn-danger"><i
                        class="fa fa-minus"></i></a>
                </div>
                <div class="col-md-1">
                    <span id="sysvar-help-label" class="label label-default" style="display:none">
                    </span>
                </div>
            </div>
        {% endverbatim %}
    </script>
    <script type="text/x-handlebars-template" id="branch-template">
        {% verbatim %}
            <p></p>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <select id="branch-select" class="form-control" name="branch-select-{{ idx }}" title="">
                        <option disabled selected value> -- select an option --</option>
                        {{#each branches }}
                        <option value="{{@index}}">{{ this.Nome }}</option>
                        {{/each }}
                    </select>
                </div>
                <div class="col-lg-1"><input id="branch-range" name="branch-range-{{ idx }}" title="" class="form-control"
                                             placeholder="value"/></div>
                <div class="col-lg-1"><a id="delete-branch" href="#" class="btn btn-sm btn-danger"><i
                        class="fa fa-minus"></i></a>
                </div>
                <div class="col-md-1">
                    <span id="branch-help-label" class="label label-default" style="display:none">
                    </span>
                </div>
            </div>
        {% endverbatim %}
    </script>
    <script type="text/javascript" src="{% static "AWD_Zanasi/js/editor_block_template.js" %}"></script>
    <script type="text/javascript" src="{% static "AWD_Zanasi/js/project_editor.js" %}"></script>
{% endblock %}

