{% extends "AWD_Zanasi/base.html" %}

{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Profile
                    <small>password change</small>
                </h1>

            </div>
        </div>
        <div class="container-fluid">
            <div
                    {#                    style="margin-top:50px;"#}
                    class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div style="padding-top:30px" class="panel-body">

                        <form method="post" action=".">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}

                            {{ form|crispy }}

                            <input class="btn btn-primary" type="submit" value="Submit"/>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}