{% extends "AWD_Zanasi/base.html" %}

{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Login
                    <small>password reset</small>
                </h1>

            </div>
        </div>
        <div class="container-fluid">
            <div
{#                    style="margin-top:50px;"#}
                    class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div style="padding-top:30px" class="panel-body">

                        <form method="post" action=".">
                            {% csrf_token %}
                            {% load bootstrap_tags %}

                            {{ form|as_bootstrap }}

                            <input class="btn btn-primary" type="submit" value="Submit"/>
                        </form>


                    </div>
                    <div style="margin-top:10px" class="panel-footer ">
                        Don't have an account?
                        <a href="{% url 'registration_register' %}">
                            Sign Up Here
                        </a>
                        <br>
                        Already registerd?
                        <a href="{% url 'login' %}">
                            Login Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}