{% extends "AWD_Zanasi/base.html" %}

{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Registration
                    <small>phase 2</small>
                </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4>An email containing account-activation information has been sent to your address</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}